<template>
  <div class="container">
    <div class="section__ind Main">
      <el-header class="ind">
        <h3>Авторизация</h3>
      </el-header>
      <!-- <Expenses />
      <Income />
      <Balans />
      <AllOutInCome /> -->
      <el-form
        :model="ruleForm"
        :rules="rules"
        ref="ruleForm"
        label-width="120px"
        class="demo-ruleForm"
      >
        <el-form-item label="Емейл" prop="email">
          <el-input v-model="ruleForm.email"></el-input>
        </el-form-item>
        <el-form-item label="Пароль" prop="pass">
          <el-input
            type="password"
            v-model="ruleForm.pass"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')"
            >Войти</el-button
          >
          <el-button
            type="primary"
            @back="$router.push({ name: 'Registration' })"
            >Регистрация</el-button
          >
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
// import Income from "@/components/Income";
// import Expenses from "@/components/Expenses";
// import Balans from "@/components/Balans";
// import AllOutInCome from "@/components/AllOutInCome";

export default {
  name: "new",
  components: {
    // Income,
    // Expenses,
    // AllOutInCome,
    // Balans,
  },
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Введите пароль"));
      } else if (value.length < 6) {
        callback(new Error("Пароль должен состоять минимум из 6 символов"));
      } else if (!/^\s*(\w+)\s*$/.test(value)) {
        callback(new Error("Пароль не должен содержать киррилицу!"));
      } else {
        callback();
      }
    };
    return {
      ruleForm: {
        email: "",
        pass: "",
      },
      rules: {
        email: [
          {
            required: true,
            message: "Пожалуйста, введите адрес электронной почты",
            trigger: "blur",
          },
          {
            type: "email",
            message: "Пожалуйста, введите правильный адрес электронной почты",
            trigger: ["blur", "change"],
          },
        ],
        pass: [
          {
            required: true,
            validator: validatePass,
            trigger: ["blur", "change"],
          },
        ],
      },
    };
  },

  computed: {},
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert("submit!");
          this.resetForm("ruleForm");
          this.$router.push({ name: "Main" });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
  },
};
</script>

<style>
.ind {
  margin-bottom: 30px;
}
</style>
