<template>
  <div class="notFound">
    <!-- <img class="img-cover" src="../assets/404.png" alt="404" /> -->
    <!-- <Income /> -->
    <p>=(</p>
  </div>
</template>

<script>
// import Income from "@/components/Income";
import main from "@/scripts/main.js";

export default {
  name: "new",
  components: {
    // main,
    // Income,
  },
  data: () => ({
    list: {},
  }),
  computed: {},
  methods: {},
};
</script>

<style>
.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
</style>
