<template>
  <div class="container">
    <div class="section__ind new">
      <el-header>
        <el-page-header
          content="Записать новый доход"
          title="Назад"
          @back="$router.push({ name: 'Main' })"
        ></el-page-header>
      </el-header>

      <el-card>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
          <el-row :gutter="10">
            <el-form-item class="el-form-item-custom" label="Дата" required>
              <el-col :xs="24" :sm="11" :md="11" :lg="11" :xl="11">
                <el-form-item prop="date1" class="ind">
                  <el-date-picker
                    type="date"
                    placeholder="Выбор даты"
                    v-model="ruleForm.date1"
                    style="width: 100%"
                    @focus="createCustomBlur"
                  ></el-date-picker>
                </el-form-item>
              </el-col>
              <el-col
                class="line hidden-xs-only"
                :xs="2"
                :sm="2"
                :md="2"
                :lg="2"
                :xl="2"
                >-</el-col
              >
              <el-col :xs="24" :sm="11" :md="11" :lg="11" :xl="11">
                <el-form-item prop="date2">
                  <el-time-picker
                    placeholder="Выбор времени"
                    v-model="ruleForm.date2"
                    style="width: 100%"
                    @focus="createCustomBlur"
                  ></el-time-picker>
                </el-form-item>
              </el-col>
            </el-form-item>

            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
              <el-col :xs="20" :sm="22" :md="22" :lg="22" :xl="22">
                <el-form-item label="Категория" prop="category">
                  <el-select
                    v-model="ruleForm.category"
                    placeholder="Список категорий"
                    class="w100"
                  >
                    <el-option
                      v-for="item in getOptionsCategoryInc"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col
                :xs="4"
                :sm="2"
                :md="2"
                :lg="2"
                :xl="2"
                class="category-settings"
              >
                <el-button
                  @click="$router.push({ name: 'IncomeCategorySettings' })"
                  type="info"
                  icon="el-icon-s-tools"
                  circle
                ></el-button>
              </el-col>
            </el-col>

            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
              <el-form-item class="ind" label="Сумма" prop="value">
                <el-input v-model.number="ruleForm.value"></el-input>
              </el-form-item>
            </el-col>

            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
              <el-form-item label="Валюта" prop="currency">
                <el-select
                  v-model="ruleForm.currency"
                  placeholder="Список валют"
                  class="w100"
                >
                  <el-option label="RUB" value="RUB"></el-option>
                  <!-- <el-option label="UAH" value="UAH"></el-option>
                  <el-option label="USD" value="USD"></el-option>
                  <el-option label="EUR" value="EUR"></el-option> -->
                </el-select>
              </el-form-item>
            </el-col>

            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
              <el-form-item label="Комментарий" prop="сommentary">
                <el-input
                  type="textarea"
                  v-model="ruleForm.сommentary"
                ></el-input>
              </el-form-item>
            </el-col>

            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
              <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')"
                  >Записать</el-button
                >
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex";
import { addNewEntry } from "@/scripts/main.js";

import { getDatabase, ref, set } from "firebase/database";

export default {
  name: "new",
  components: {
    // Income,
  },
  data: () => ({
    ...mapState("authUser", ["statusUser"]),
    ruleForm: {
      value: "",
      date1: "",
      date2: "",
      category: "",
      currency: "",
      сommentary: "",
    },
    rules: {
      value: [
        {
          type: "number",
          required: true,
          message: "Введите цифры",
          trigger: "change",
        },
      ],
      date1: [
        {
          type: "date",
          required: true,
          message: "Выберите дату",
          trigger: "change",
        },
      ],
      date2: [
        {
          type: "date",
          required: true,
          message: "Выберите время",
          trigger: "change",
        },
      ],
      category: [
        {
          required: true,
          message: "Выберите категорию",
          trigger: "change",
        },
      ],
      currency: [
        {
          required: true,
          message: "Выберите валюту",
          trigger: "change",
        },
      ],
      сommentary: [
        {
          required: false,
          message: "Введите комментарий",
          trigger: "change",
        },
      ],
    },
  }),
  computed: {
    ...mapGetters("optionsCategory", ["getOptionsCategoryInc"]),
  },
  methods: {
    ...mapActions("income", ["setNewIncome"]),
    submitForm() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          let newObj = this.ruleForm;
          // console.log(newObj);
          this.setNewIncome(addNewEntry(newObj));

          // console.log(statusUser);
          // console.log(this.statusUser());

          this.$router.push({ name: "Main" });
        } else {
          return false;
        }
      });
    },
    createCustomBlur(e) {
      e.blur();
    },
  },
};
</script>

<style>
.category-settings {
  margin-top: 41px;
  display: flex;
  justify-content: flex-end;
}
</style>
