<template>
  <div class="container">
    <div class="section__ind new">
      <el-header>
        <el-page-header
          content=""
          title="Назад"
          @back="$router.push({ name: 'Main' })"
        ></el-page-header>
        <el-select
          v-model="value"
          placeholder=""
          class="type-period-select"
          @change="changeGapType"
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
        <div class="chart-ic__block">
          <div class="chart-ic" @click="$router.push({ name: 'ChartIncome' })">
            <i class="el-icon-data-line"></i>
          </div>
        </div>
      </el-header>

      <el-carousel
        arrow="never"
        :autoplay="false"
        indicator-position="none"
        height="700px"
      >
        <el-carousel-item v-for="item in 1" :key="item">
          <div class="carousel__top" v-if="carouselTop == 'День'">
            <el-date-picker
              type="date"
              placeholder=""
              v-model="dateDay"
              style="width: 100%"
              @change="sortingByDay"
              @focus="createCustomBlur"
            ></el-date-picker>
            {{ callMethodOverwriteCurrentYear }}
          </div>
          <div class="carousel__top" v-if="carouselTop == 'Неделя'">
            <el-date-picker
              v-model="dateWeek"
              type="week"
              format="WW неделя"
              placeholder=""
              @change="sortingByWeek"
              @focus="createCustomBlur"
              class="getWeek"
              :picker-options="dateRangeOptions1"
            >
            </el-date-picker>
            {{ callMethodOverwriteCurrentYear }}
          </div>
          <div class="carousel__top" v-if="carouselTop == 'Месяц'">
            <el-date-picker
              type="date"
              placeholder=""
              v-model="dateMonth"
              style="width: 100%"
              @change="sortingByMonth"
              @focus="createCustomBlur"
              autocomplete="off"
            ></el-date-picker>
            {{ callMethodOverwriteCurrentYear }}
          </div>
          <div class="carousel__top" v-if="carouselTop == 'Год'">
            <h3>{{ year }}</h3>
            {{ callMethodOverwriteCurrentYear }}
            <div class="years">
              <el-button
                @click="previousYear"
                type="info"
                icon="el-icon-arrow-left"
                circle
              ></el-button>
              <el-button
                @click="nextYear"
                type="info"
                icon="el-icon-arrow-right"
                circle
              ></el-button>
            </div>
          </div>
          <div class="carousel__top" v-if="carouselTop == 'Период'">
            <el-date-picker
              v-model="dateRange"
              type="daterange"
              range-separator="По"
              start-placeholder="С этой даты"
              end-placeholder="Эту дату"
              @change="sortingByRange"
              @focus="createCustomBlur"
              :picker-options="dateRangeOptions1"
            >
            </el-date-picker>
            {{ callMethodOverwriteCurrentYear }}
          </div>

          <div class="carousel__full-wrap">
            <div class="carousel__full">
              <h4>Всего:</h4>
              <p>{{ getFullIncomeValueCategory }}</p>
            </div>
          </div>
          <div class="carousel__wrap">
            <div class="carousel__month">
              <div
                v-for="(item, value) in getFullIncomeForEachCategory"
                :key="item.text"
              >
                <div>
                  <p>{{ value }}</p>
                </div>
              </div>
            </div>
            <div class="carousel__val">
              <div v-for="item in getFullIncomeForEachCategory" :key="item.key">
                <p>{{ item }}</p>
              </div>
            </div>
          </div>
        </el-carousel-item>
      </el-carousel>
      {{ callMethodOverwritesTheDefaultValues }}
      {{ callMethodOverwriteDataDateFromVuex }}
      <!-- {{ getFullIncomeForEachCategory }} -->
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex";

export default {
  name: "AllIncome",
  components: {},
  data: () => ({
    dateRangeOptions1: {
      firstDayOfWeek: 1,
    },
    options: [
      {
        value: "День",
        label: "День",
      },
      {
        value: "Неделя",
        label: "Неделя",
      },
      {
        value: "Месяц",
        label: "Месяц",
      },
      {
        value: "Год",
        label: "Год",
      },
      {
        value: "Период",
        label: "Период",
      },
      {
        value: "fullTime",
        label: "Все время",
      },
    ],
    value: "Месяц",
    year: 0,
    month: new Date().getMonth() + 1,
    carouselTop: "Месяц",
    dateMonth: "",
    dateDay: "",
    dateWeek: "",
    dateRange: "",
    ...mapState("allIncome", [
      "changeType",
      "daySelectedByTheUser",
      "monthSelectedByTheUser",
      "yearSelectedByTheUser",
      "startWeekSelectedByTheUser",
      "startRangeDateSelectedByTheUser",
      "endRangeDateSelectedByTheUser",
      "monthSelectedByTheUserFullDate",
      "daySelectedByTheUserFullDate",
      "startWeekSelectedByTheUserFullDate",
      "yearSelectedByTheUserFullDate",
      "fullRangePeriod",
    ]),
  }),

  computed: {
    ...mapGetters("allIncome", [
      "getOptionsCategory",
      "getFullIncomeForEachCategory",
      "getFullIncomeValueCategory",
      "getCurrentYear",
    ]),
    callMethodOverwriteDataDateFromVuex() {
      return this.overwriteDataDateFromVuex();
    },
    callMethodOverwriteCurrentYear() {
      return this.overwriteCurrentYear();
    },
    callMethodOverwritesTheDefaultValues() {
      return this.overwritesTheDefaultValues();
    },
  },
  methods: {
    ...mapActions("allIncome", ["setPreviousYearExp", "setNextYearExp"]),
    ...mapActions("allIncome", [
      "setPreviousYearInc",
      "setNextYearInc",
      "setNewChangeGapType",
      "setPrevMonth",
      "setPrevDay",
      "setPrevWeek",
      "setPrevRange",
    ]),
    overwriteDataDateFromVuex() {
      this.dateMonth = this.monthSelectedByTheUserFullDate();
      this.dateDay = this.daySelectedByTheUserFullDate();
      this.dateWeek = this.startWeekSelectedByTheUserFullDate();
      this.year = this.yearSelectedByTheUserFullDate();
      this.dateRange = this.fullRangePeriod();
    },
    overwriteCurrentYear() {
      this.year = this.getCurrentYear;
    },
    overwritesTheDefaultValues() {
      this.value = this.changeType();
      this.carouselTop = this.changeType();
    },
    createCustomBlur(e) {
      e.blur();
    },
    sortingByMonth() {
      let arr = [];
      arr.push(this.dateMonth.getFullYear());
      arr.push(this.dateMonth.getMonth() + 1);
      arr.push(this.dateMonth);
      this.setPrevMonth(arr);
    },
    sortingByDay() {
      let arr = [];
      arr.push(this.dateDay.getFullYear());
      arr.push(this.dateDay.getMonth() + 1);
      arr.push(this.dateDay.getDate());
      arr.push(this.dateDay);
      this.setPrevDay(arr);
      this.dateDay = this.dateDay;
    },
    sortingByWeek() {
      let arr = [];
      arr.push(this.dateWeek.getFullYear());
      arr.push(this.dateWeek.getMonth() + 1);
      arr.push(this.dateWeek);
      this.setPrevWeek(arr);
    },
    sortingByRange() {
      this.setPrevRange(this.dateRange);
    },
    previousYear() {
      this.year--;
      this.setPreviousYearExp(this.year);
      this.setPreviousYearInc(this.year);
    },
    nextYear() {
      this.year++;
      this.setNextYearExp(this.year);
      this.setNextYearInc(this.year);
    },
    changeGapType(e) {
      this.setNewChangeGapType(e);
      if (e == "fullTime") {
        this.carouselTop = false;
      } else if (e == "День") {
        this.carouselTop = "День";
      } else if (e == "Неделя") {
        this.carouselTop = "Неделя";
      } else if (e == "Месяц") {
        this.carouselTop = "Месяц";
      } else if (e == "Период") {
        this.carouselTop = "Период";
      } else if (e == "Год") {
        this.carouselTop = "Год";
      } else {
        this.carouselTop = true;
      }
    },
  },
};
</script>

<style>
.chart-ic__block {
  margin-left: auto;
}
.chart-ic {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
}

.chart-ic:hover {
  background-color: rgb(243, 239, 239);
  transition: all ease 0.2s;
}
.type-period-select {
  margin-right: 20px;
}
.carousel__top .el-date-editor {
  width: 100%;
}
@media (max-width: 767px) {
  .el-picker-panel {
    width: 100%;
    top: 0 !important;
    left: 0;
  }
  .el-date-range-picker .el-picker-panel__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
  }
  .el-picker-panel__content {
    margin: 0 auto;
  }
  .el-date-range-picker__content {
    float: none;
    width: 100%;
    padding: 0;
  }
  .el-date-range-picker table {
    width: 100%;
  }
  .el-date-range-picker__header [class*="arrow-left"] {
    position: relative;
    left: 30px;
    font-size: 26px;
  }
  .el-date-range-picker__header [class*="arrow-right"] {
    position: relative;
    right: 30px;
    font-size: 26px;
  }
  .el-icon-arrow-left {
    position: relative;
    left: 50px !important;
  }
  .el-icon-arrow-right {
    position: relative;
    right: 50px !important;
  }
}
</style>
