<template>
  <div class="container">
    <div class="section__ind new">
      <el-header>
        <el-page-header
          content="Баланс за год"
          title="Назад"
          @back="$router.push({ name: 'Main' })"
        ></el-page-header>
      </el-header>

      <el-carousel
        arrow="never"
        :autoplay="false"
        indicator-position="none"
        height="700px"
      >
        <el-carousel-item v-for="item in 1" :key="item">
          <h3>{{ year }}</h3>
          <!-- <h3>{{ yearBalanceForYears }}</h3> -->
          {{ callMethodOverwriteCurrentYear }}
          <div class="years">
            <el-button
              @click="previousYear"
              type="info"
              icon="el-icon-arrow-left"
              circle
            ></el-button>
            <el-button
              @click="nextYear"
              type="info"
              icon="el-icon-arrow-right"
              circle
            ></el-button>
          </div>
          <div class="carousel__full-wrap">
            <div class="carousel__full">
              <h4>Всего:</h4>
              <p>{{ getFullIncomeYears - getFullCostYears }}</p>
            </div>
          </div>
          <div class="carousel__wrap">
            <div class="carousel__month">
              <div v-for="item in month" :key="item">
                <div>
                  <p>{{ item }}</p>
                </div>
              </div>
            </div>
            <div class="carousel__val">
              <div v-for="item in getBalanceMonth" :key="item.key">
                <p>{{ item }}</p>
              </div>
            </div>
          </div>
        </el-carousel-item>
      </el-carousel>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "BalanceOut",
  components: {},
  data: () => ({
    year: 0,
    month: [
      "Январь",
      "Февраль",
      "Март",
      "Апрель",
      "Май",
      "Июнь",
      "Июль",
      "Август",
      "Сентябрь",
      "Октябрь",
      "Ноябрь",
      "Декабрь",
    ],
  }),
  computed: {
    ...mapGetters("fullbalans", [
      "getFullIncomeArrMonths",
      "getFullExpensesArrMonths",
      "getFullIncomeYears",
      "getFullCostYears",
      "getYearBalanceForYears",
      "getBalanceMonth",
    ]),
    callMethodOverwriteCurrentYear(){
      return this.overwriteCurrentYear();
    },
  },
  methods: {
    ...mapActions("fullbalans", ["setPreviousYearFull", "setNextYearFull"]),
    overwriteCurrentYear(){
      this.year = this.getYearBalanceForYears;
    },
    previousYear() {
      this.year--;
      this.setPreviousYearFull(this.year);
    },
    nextYear() {
      this.year++;
      this.setNextYearFull(this.year);
    },
  },
};
</script>

<style>
.years {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.el-carousel__arrow {
  top: 10%;
}
.el-carousel__item h3 {
  padding: 20px 20px 0 20px;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}
.carousel__wrap {
  display: flex;
  padding: 10px 20px 40px 20px;
}
.carousel__wrap p {
  margin: 5px 0;
  border-bottom: 1px solid #333;
  width: 100%;
  padding-bottom: 10px;
}
.carousel__month {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.carousel__val {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.carousel__val div,
.carousel__month div {
  width: 100%;
}
.carousel__val div p {
  text-align: right;
}
.carousel__full-wrap {
  /* margin-top: 40px; */
  padding: 15px 20px;
  background-color: rgb(70, 196, 185);
}
.carousel__full {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .years .el-icon-arrow-left {
    position: relative;
    left: inherit !important;
  }
  .years .el-icon-arrow-right {
    position: relative;
    right: inherit !important;
  }
}

@media (max-width: 577px) {
  .el-carousel__item h3 {
    padding: 15px 15px 0 15px;
  }
  .years {
    padding: 15px;
  }
}
</style>
