<template>
  <div class="container">
    <div class="section__ind new">
      <el-header>
        <el-page-header
          content="Диаграмма"
          title="Назад"
          @back="$router.push({ name: 'AllExpenses' })"
        ></el-page-header>
      </el-header>
      <div class="chart">
        <div class="chart__info">
          <h3>Расходы</h3>
          <div class="chart__info-date" v-if="changeType() == 'День'">
            {{ daySelectedByTheUser() }}.{{ monthSelectedByTheUser() }}.{{
              yearSelectedByTheUser()
            }}
          </div>
          <div class="chart__info-date" v-else-if="changeType() == 'Неделя'">
            {{ startWeek }} - {{ endWeek }}.{{ monthSelectedByTheUser() }}.{{
              yearSelectedByTheUser()
            }}
          </div>
          <div class="chart__info-date" v-else-if="changeType() == 'Месяц'">
            {{ monthSelectedByTheUser() }}.{{ yearSelectedByTheUser() }}
          </div>
          <div class="chart__info-date" v-else-if="changeType() == 'Год'">
            {{ yearSelectedByTheUser() }}
          </div>
          <div class="chart__info-date" v-else-if="changeType() == 'Период'">
            {{ startRange }} -
            {{ endRange }}
          </div>
          <div class="chart__info-date" v-else-if="changeType() == 'fullTime'">
            <h4>За все время</h4>
          </div>
        </div>
        <div class="chart__block">
          <div class="container">
            <bar-chart
              :data="barChartData"
              :options="barChartOptions"
              :height="200"
            />
          </div>
          {{ callMethodWriteDataToChart }}
        </div>
        <div class="chart__stats">
          <div class="chart__stats-block">
            <div class="carousel__wrap">
              <div class="carousel__month">
                <div
                  class="chart__el"
                  v-for="(item, value, i) in getFullExpensesForEachCategory"
                  :key="item.text"
                >
                  <div
                    class="chart__figure"
                    :style="{ backgroundColor: chartColorsArr[i] }"
                  ></div>
                  <p>{{ value }}</p>
                </div>
              </div>
              <div class="carousel__val">
                <div
                  class="chart__el"
                  v-for="item in getFullExpensesForEachCategory"
                  :key="item.key"
                >
                  <p>{{ item }}</p>
                  {{
                    ((+item * 100) / +getFullExpensesValueCategory).toFixed(2) +
                    "%"
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import BarChart from "@/components/chartInc";

const chartColors = {
  red: "rgb(255, 99, 132)",
  orange: "rgb(255, 159, 64)",
  yellow: "rgb(255, 205, 86)",
  green: "rgb(75, 192, 192)",
  blue: "rgb(54, 162, 235)",
  purple: "rgb(153, 102, 255)",
  grey: "rgb(201, 203, 207)",
  red2: "rgb(255, 68, 114)",
  orange2: "rgb(255, 140, 50)",
  yellow2: "rgb(255, 190, 70)",
  green2: "rgb(75, 180, 180)",
  blue2: "rgb(54, 150, 220)",
  purple2: "rgb(153, 90, 240)",
  grey2: "rgb(201, 190, 190)",
};

export default {
  name: "ChartExpenses",
  components: {
    BarChart,
  },
  data: () => ({
    ...mapState("allExpenses", [
      "daySelectedByTheUser",
      "monthSelectedByTheUser",
      "yearSelectedByTheUser",
      "startWeekSelectedByTheUser",
      "startRangeDateSelectedByTheUser",
      "endRangeDateSelectedByTheUser",
      "changeType",
    ]),
    chartColorsArr: [
      "rgb(255, 99, 132)",
      "rgb(255, 159, 64)",
      "rgb(255, 205, 86)",
      "rgb(75, 192, 192)",
      "rgb(54, 162, 235)",
      "rgb(153, 102, 255)",
      "rgb(201, 203, 207)",
      "rgb(255, 68, 114)",
      "rgb(255, 140, 50)",
      "rgb(255, 190, 70)",
      "rgb(75, 180, 180)",
      "rgb(54, 150, 220)",
      "rgb(153, 90, 240)",
      "rgb(201, 190, 190)",
    ],
    startWeek: "",
    endWeek: "",
    startRange: "",
    endRange: "",
    barChartData: {
      labels: [],
      datasets: [
        {
          label: "Income",
          backgroundColor: [
            chartColors.red,
            chartColors.orange,
            chartColors.yellow,
          ],
          data: [],
        },
      ],
    },
    barChartOptions: {
      responsive: true,
      legend: {
        display: true,
        position: "bottom",
      },
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    },
  }),
  computed: {
    ...mapGetters("allExpenses", [
      "getFullExpensesForEachCategory",
      "getFullExpensesValueCategory",
    ]),
    callMethodWriteDataToChart() {
      return this.writeDataToChart();
    },
  },
  methods: {
    writeDataToChart() {
      for (let key in this.getFullExpensesForEachCategory) {
        this.barChartData.labels.push(key);
        this.barChartData.datasets[0].data.push(
          this.getFullExpensesForEachCategory[key]
        );
        this.startWeek = this.startWeekSelectedByTheUser().getDate() - 1;
        this.endWeek = this.startWeekSelectedByTheUser().getDate() + 5;
        this.startRange = new Date(
          this.startRangeDateSelectedByTheUser()
        ).toLocaleDateString();
        this.endRange = new Date(
          this.endRangeDateSelectedByTheUser()
        ).toLocaleDateString();
      }
    },
  },
};
</script>

<style>
.chart .carousel__month p {
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.chart .carousel__val p {
  border-bottom: none;
  margin: 0 20px 0 0;
  padding: 0;
}
.chart__figure {
  width: 50px !important;
  height: 10px;
  margin-right: 10px;
}
.chart__el {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
}
.chart__info {
  text-align: center;
  padding-top: 15px;
}
.chart__info h3 {
  margin-bottom: 10px;
}
@media (max-width: 577px) {
}
</style>
