<template>
  <div class="container">
    <div class="section__ind new">
      <el-header>
        <el-page-header
          content="Настройка категорий доходов"
          title="Назад"
          @back="$router.push({ name: 'AddIncome' })"
        ></el-page-header>
      </el-header>

      <el-card class="settingsCategory">
        <el-col
          :xs="24"
          :sm="24"
          :md="24"
          :lg="24"
          :xl="24"
          style="margin-bottom: 20px"
        >
          <el-alert
            title="Вы ввели пустую строку"
            type="warning"
            effect="dark"
            class="new__info-mess"
            v-show="!flagAlertEmpty"
            @close="closeAlert"
            >
          </el-alert>
          <el-alert
            title="Такая категория уже существует"
            type="error"
            effect="dark"
            class="new__info-mess"
            v-show="!flagAlertRepeat"
            @close="closeAlert"
            >
          </el-alert>
          <!-- <el-form-item class="ind" label="Название новой категории"> -->
          <el-input
            v-model="valueNewCategory"
            style="margin-bottom: 20px"
          ></el-input>
          <el-button type="primary" @click="addNewCategory"
            >Добавить новую категорию</el-button
          >
          
          <!-- </el-form-item> -->
        </el-col>

        <h3>Список существующих категорий</h3>

        <el-col
          :xs="24"
          :sm="24"
          :md="24"
          :lg="24"
          :xl="24"
          style="margin-bottom: 20px"
        >
          <div
            class="settingsCategory__elem"
            v-for="(elem, i) in getOptionsCategoryInc"
            :key="elem.value"
          >
            {{ elem.text }}

            <div class="settingsCategory__elem-btns">
              <el-button
                type="primary"
                size="mini"
                @click="removeElemCategory(i)"
                >Удалить</el-button
              >
              <el-button
                type="primary"
                size="mini"
                @click="(centerDialogVisible = true), myId(i)"
                >Редактировать</el-button
              >
            </div>
            <el-dialog
              title=""
              :visible.sync="centerDialogVisible"
              width="300px"
              center
            >
              <el-input
                placeholder="Введите новое название"
                v-model="inputNewNameElemCategoryInc"
              ></el-input>
              <span slot="footer" class="dialog-footer">
                <el-button type="danger" @click="centerDialogVisible = false"
                  >Отмена</el-button
                >
                <el-button
                  type="primary"
                  @click="(centerDialogVisible = false), newNameElemCategory(i)"
                  >Записать</el-button
                >
              </span>
            </el-dialog>
          </div>
        </el-col>
      </el-card>
    </div>
  </div>
</template>

<script>

import { mapGetters } from "vuex";
import {searchForAlreadyExistingCategories} from "@/scripts/main.js";

export default {
  name: "IncomeCategorySettings",
  components: {
  },
  data: () => ({
    valueNewCategory: "",
    centerDialogVisible: false,
    inputNewNameElemCategoryInc: "",
    id: 0,
    flag: true,
    flagEdit: true,
    flagAlertEmpty: true,
    flagAlertRepeat: true,
  }),
  computed: {
    ...mapGetters("optionsCategory", ["getOptionsCategoryInc"]),
  },
  methods: {
    closeAlert(){
        this.flagAlertRepeat = true;
        this.flagAlertEmpty = true;
    },
    addNewCategory() {
      this.flag = searchForAlreadyExistingCategories(this.getOptionsCategoryInc,this.valueNewCategory);

      if(this.valueNewCategory.trim() != '' && this.flag){
        this.getOptionsCategoryInc.push({
          text: this.valueNewCategory,
          value: this.valueNewCategory,
        });
        this.valueNewCategory = "";
        this.flagAlertEmpty = true;
        this.flagAlertRepeat = true;
      } 
      else if(this.valueNewCategory.trim() == ''){
        this.flagAlertEmpty = false;
        this.flagAlertRepeat = true;
      } 
      else {
        this.flagAlertRepeat = false;
        this.flagAlertEmpty = true;
      }

    },
    newNameElemCategory() {
      this.flagEdit = searchForAlreadyExistingCategories(this.getOptionsCategoryInc,this.inputNewNameElemCategoryInc);

    if(this.inputNewNameElemCategoryInc.trim() != '' && this.flagEdit){
      this.getOptionsCategoryInc[this.id].text = this.inputNewNameElemCategoryInc;
      this.getOptionsCategoryInc[this.id].value = this.inputNewNameElemCategoryInc;

      this.inputNewNameElemCategoryInc = "";
      this.valueNewCategory = "";
      this.flagAlertEmpty = true;
      this.flagAlertRepeat = true;
    }      
    else if(this.inputNewNameElemCategoryInc.trim() == ''){
        this.flagAlertEmpty = false;
        this.flagAlertRepeat = true;
      } 
    else {
        this.flagAlertRepeat = false;
        this.flagAlertEmpty = true;
      }

    },
    removeElemCategory(i) {
      this.getOptionsCategoryInc.splice(i, 1);
    },
    myId(i) {
      this.id = i;
    },
  },
};
</script>

<style>
.settingsCategory h3 {
  margin-bottom: 20px;
}
.settingsCategory__elem {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.new__info-mess{
  margin-bottom: 20px;
}
</style>
