<template>
  <div class="container">
    <div class="section__ind Main">
      <TopBar />
      <el-header>
        <h3>Журнал расходов</h3>
      </el-header>

      <Expenses />
      <Income />
      <Balans />
      <AllOutInCome />
      <!-- {{ getExpensesFromDB }}
      {{ getIncomeFromDB }} -->
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { getDatabase, ref, onValue } from "firebase/database";
import { database } from "@/main";

import TopBar from "@/components/TopBar";
import Income from "@/components/Income";
import Expenses from "@/components/Expenses";
import Balans from "@/components/Balans";
import AllOutInCome from "@/components/AllOutInCome";

export default {
  name: "new",
  components: {
    TopBar,
    Income,
    Expenses,
    AllOutInCome,
    Balans,
  },
  data: function () {
    return {
      data: "test",
    };
  },
  computed: {
    ...mapGetters("authUser", [
      "getUserName",
      "getStatusUser",
      "getExpensesFromDB",
      "getIncomeFromDB",
    ]),
  },
  methods: {},
};
</script>

<style>
</style>
