<template>
  <div class="container">
    <div class="section__ind Main">
      <TopBar />
      <el-header class="ind">
        <h3>Регистрация</h3>
      </el-header>
      <el-form
        :model="ruleForm"
        :rules="rules"
        ref="ruleForm"
        label-width="120px"
        class="demo-ruleForm"
      >
        <el-form-item label="Емейл" prop="email">
          <el-input v-model="ruleForm.email"></el-input>
        </el-form-item>
        <el-form-item label="Пароль" prop="pass">
          <el-input
            type="password"
            v-model="ruleForm.pass"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')"
            >Зарегистрироваться</el-button
          >
        </el-form-item>
      </el-form>
    </div>
    <template v-if="!regErr">
      <el-alert title="Такой емейл уже существует" type="error" effect="dark">
      </el-alert>
    </template>
  </div>
</template>

<script>
import TopBar from "@/components/TopBar";
import { mapGetters, mapActions } from "vuex";
import { getAuth, createUserWithEmailAndPassword } from "firebase/auth";

export default {
  name: "new",
  components: {
    TopBar,
  },
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Введите пароль"));
      } else if (value.length < 6) {
        callback(new Error("Пароль должен состоять минимум из 6 символов"));
      } else if (!/^\s*(\w+)\s*$/.test(value)) {
        callback(new Error("Пароль не должен содержать киррилицу!"));
      } else {
        callback();
      }
    };
    return {
      regErr: true,
      ruleForm: {
        email: "",
        pass: "",
      },
      rules: {
        email: [
          {
            required: true,
            message: "Пожалуйста, введите адрес электронной почты",
            trigger: "blur",
          },
          {
            type: "email",
            message: "Пожалуйста, введите правильный адрес электронной почты",
            trigger: ["blur", "change"],
          },
        ],
        pass: [
          {
            required: true,
            validator: validatePass,
            trigger: ["blur", "change"],
          },
        ],
      },
    };
  },

  computed: {
    ...mapGetters("authUser", ["getStatusUser"]),
  },
  methods: {
    ...mapActions("authUser", ["setStatusUser"]),
    // ...mapActions("general", ["setUserName"]),
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let email = this.ruleForm.email;
          let pass = this.ruleForm.pass;

          const auth = getAuth();

          createUserWithEmailAndPassword(auth, email, pass)
            .then((userCredential) => {
              const user = userCredential.user;
              // console.log(user);
              // this.setUserName(email);
              this.setStatusUser(!this.getStatusUser);
              this.regErr = true;
              this.$router.push({ name: "Main" });
            })
            .catch((error) => {
              const errorCode = error.code;
              const errorMessage = error.message;
              this.regErr = false;
              setTimeout(() => (this.regErr = true), 2000);
              // ..
            });

          // this.resetForm("ruleForm");
        } else {
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
  },
};
</script>

<style>
.ind {
  margin-bottom: 30px;
}
</style>
