<template>
  <div class="income__wrap">
    <el-card>
      <div class="income__el-center">
        <el-button
          type="primary"
          icon="el-icon-s-goods"
          @click="$router.push({ name: 'AllExpenses' })"
          >Все расходы</el-button
        >
        <el-button
          type="primary"
          icon="el-icon-s-finance"
          @click="$router.push({ name: 'AllIncome' })"
          >Все доходы</el-button
        >
      </div>
    </el-card>
  </div>
</template>

<script>
export default {
  name: "AllOutInCome",
  props: {},
  data: () => ({}),
  computed: {},
  methods: {},
};
</script>

<style scoped>
.income__wrap {
}
.income__el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.income__el:last-child {
  margin-bottom: 0;
}
.income__el-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.income__target-newEntry {
  width: 50px;
  height: 50px;
  background-color: #38ebb2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease 0.2s;
}
.income__target-newEntry:hover {
  transition: all ease 0.2s;
  background-color: #03d693;
}
.el-card__body {
  text-align: left;
}
</style>