<template>
  <div class="income__wrap">
    <el-card>
      <div class="income__el">
        <h3>Баланс</h3>
        <div
          class="income__target income__target-balans"
          @click="$router.push({ name: 'BalanceOut' })"
        >
          <i class="el-icon-more"></i>
        </div>
      </div>
      <div class="income__el">
        <h4>За всё время</h4>
        <p>{{ getFullIncome - getFullCost }}</p>
      </div>
    </el-card>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Balans",
  props: {},
  data: () => ({}),
  computed: {
    ...mapGetters("allExpenses", ["getFullCost"]),
    ...mapGetters("allIncome", ["getFullIncome"]),
  },
  methods: {},
};
</script>

<style scoped>
.income__wrap {
  /* max-width: 700px;
  margin: auto; */
}
.income__el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.income__el:last-child {
  margin-bottom: 0;
}
.income__target {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease 0.2s;
}
.income__target-balans {
  background-color: #a532d3;
}
.income__target-balans:hover {
  transition: all ease 0.2s;
  background-color: #9102ca;
}
.el-card__body {
  text-align: left;
}
</style>