<template>
  <div class="income__wrap">
    <el-card>
      <div class="income__el">
        <h3>Расходы</h3>
        <div
          class="income__target income__target-newExpense"
          @click="$router.push({ name: 'AddExpenses' })"
        >
          <i class="el-icon-plus"></i>
        </div>
      </div>
      <div class="income__el">
        <h4>Сегодня</h4>
        <p>{{ getExpensesAmountForToday }}</p>
      </div>
      <div class="income__el">
        <h4>Неделя</h4>
        <p>{{ getExpensesAmountForWeek }}</p>
      </div>
      <div class="income__el">
        <h4>Месяц</h4>
        <p>{{ getExpensesAmountForMonth }}</p>
      </div>
    </el-card>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Expenses",
  props: {},
  data: () => ({}),
  computed: {
    ...mapGetters("expenses", [
      "getExpensesAmountForToday",
      "getExpensesAmountForWeek",
      "getExpensesAmountForMonth",
      "getExpenses",
    ]),
  },
  methods: {
  },
};
</script>

<style scoped>
.income__el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.income__el:last-child {
  margin-bottom: 0;
}
.income__target {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease 0.2s;
}
.income__target-newExpense {
  background-color: #d34532;
}
.income__target-newExpense:hover {
  transition: all ease 0.2s;
  background-color: #da250d;
}
.el-card__body {
  text-align: left;
}
</style>