<template>
  <div class="income__wrap">
    <el-card>
      <div class="income__el">
        <h3>Доходы</h3>
        <div
          class="income__target income__target-newEntry"
          @click="$router.push({ name: 'AddIncome' })"
        >
          <i class="el-icon-plus"></i>
        </div>
      </div>
      <div class="income__el">
        <h4>Месяц</h4>
        <p>{{ getIncomeAmount }}</p>
      </div>

      <!-- {{ getIncomeTT }}
      <br />
      {{ getIncomeTT2 }} -->
    </el-card>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  name: "Income",
  inject: ["$dayjs"],
  props: {},
  data: () => ({}),
  computed: {
    ...mapGetters("income", [
      "getIncomeAmount",
      "getIncome",
      "getIncomeTT",
      "getIncomeTT2",
    ]),
    // myDays() {
    //   console.log(this.$dayjs());
    //   return this.$dayjs().$d.getTime();
    // },
  },
  methods: {},
};
</script>

<style scoped>
.income__wrap {
}
.income__el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.income__el:last-child {
  margin-bottom: 0;
}
.income__target {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease 0.2s;
}
.income__target-newEntry {
  background-color: #38ebb2;
}
.income__target-newEntry:hover {
  transition: all ease 0.2s;
  background-color: #03d693;
}
.el-card__body {
  text-align: left;
}
</style>

