<template>
  <div class="">
    <template v-if="getStatusUser == false">
      <el-menu
        class="el-menu-demo"
        mode="horizontal"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b"
      >
        <el-menu-item @click="$router.push({ name: 'Auth' })"
          >Авторизация</el-menu-item
        >
        <el-menu-item @click="$router.push({ name: 'Registration' })"
          >Регистрация</el-menu-item
        >
      </el-menu>
    </template>
    <template v-else>
      <el-menu
        :default-active="activeIndex"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b"
      >
        <el-submenu index="1">
          <template slot="title">{{ getUserName }}</template>
          <el-menu-item @click="logOut" index="1-1">Выйти</el-menu-item>
        </el-submenu>
      </el-menu>
    </template>
  </div>
</template>


<script>
import { mapGetters, mapActions } from "vuex";
import { getAuth, signOut } from "firebase/auth";

export default {
  name: "TopBar",
  props: {},
  data: () => ({
    activeIndex: "1",
  }),
  computed: {
    ...mapGetters("authUser", ["getStatusUser"]),
    ...mapGetters("authUser", ["getUserName"]),
  },
  methods: {
    ...mapActions("authUser", ["setStatusUser", "setUserName"]),
    handleSelect(key, keyPath) {
      //   console.log(key);
      //   console.log(keyPath);
      this.setStatusUser(!this.getStatusUser);
    },
    logOut() {
      const auth = getAuth();
      signOut(auth)
        .then(() => {
          // Sign-out successful.
          this.setStatusUser(false);
        })
        .catch((error) => {
          // An error happened.
        });
      this.$router.push({ name: "Auth" });
    },
  },
};
</script>

<style scoped>
.el-menu.el-menu--horizontal {
  border-bottom: none;
  display: flex;
  justify-content: flex-end;
}
.el-menu--horizontal > .el-submenu {
  float: right;
}
</style>