<template>
  <div id="app">
    <div class="header"></div>
    <div class="content">
      <component :is="layout">
        <router-view></router-view>
      </component>
    </div>
    <div class="footer"></div>
  </div>
</template>

<script>
import Auth from "@/pages/Auth";
import Registration from "@/pages/Registration";
import Main from "@/pages/Main";

export default {
  name: "app",
  components: {
    Auth,
    Registration,
    Main,
  },
  data: () => ({
    list: {},
    userLogged: true,
  }),
  computed: {
    layout() {
      if (!this.userLogged) {
        return "auth";
      } else {
        return this.$route.meta.layout;
      }
      // console.log(this.$route.meta.layout);
      // return this.$route.meta.layout || "auth";
    },
  },
  methods: {},
};
</script>

<style>
html {
  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  /* max-width: 100%; */
  display: block;
}

button {
  outline: none !important;
}
audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

input,
select,
button {
  outline: none;
}
.container {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
  padding: 0 15px;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__ind {
  padding-top: 60px;
}
.el-form-item__content .line {
  text-align: center;
}
.el-form-item-custom {
  display: flex;
  flex-direction: column;
}
.el-form-item-custom .el-form-item__label {
  text-align: left;
}
.el-header {
  background-color: #f56c6c;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.el-page-header__left::after {
  background-color: #303133 !important;
}
.w100 {
  width: 100%;
}
.el-button {
  color: #fff !important;
}
.income__wrap {
  margin-bottom: 10px;
}
.income__wrap:last-child {
  margin-bottom: 0;
}
.el-page-header__title {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .ind {
    margin-bottom: 22px !important;
  }
  .section__ind {
    padding-top: 30px;
  }
}

@media (max-width: 577px) {
  .container {
    padding: 0 10px;
  }
  .el-page-header .el-page-header__content {
    font-size: 14px;
  }
  .section__ind {
    padding-top: 0px;
  }
  .income__wrap .el-card__body {
    padding: 10px 15px;
  }
  .el-card .el-card__body {
    padding: 10px 15px;
  }
  .income__wrap .el-card__body .income__el {
    margin-bottom: 5px;
  }
  .content .el-header {
    padding: 10px 15px;
  }
}
</style>
